#header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn {
    width: 120px;
    height: 35px;
    background-color: lime;
    border-radius: 5px;
    border-color: white;
    color: white;
    font-weight: bolder;
    font-size: large;
    text-shadow: black;
}

#container {
    width: 100%;
    max-height: 960px;
    max-width: 960px;
    display: grid;
    margin: auto;
}

.squares {
    background-color: white;
   /* border: 0.1px solid black; */
    box-shadow: 0 0 0 1px black;
    box-sizing: border-box
}
  